- name: stop instances
  gcp_compute_instance:
    status: TERMINATED
    name: "{{ item.split('.')[0] }}"
    zone: "{{ hostvars[item].hive_available_zone }}"
    project: "{{hive_safe_gcp_project }}"
    auth_kind: "{{ hive_safe_gcp_auth_kind }}"
    service_account_file: "{{ hive_safe_gcp_service_account_file }}"
    deletion_protection: False
  with_items: "{{ hive_safe_hosts }}"
