[Unit]
Description=DRBD resource : %i
After=network-online.target
Before=docker.service

[Service]
Type=oneshot
ExecStart=/bin/waitdevice %i
ExecStop=/sbin/drbdadm down %i
RemainAfterExit=yes

[Install]
RequiredBy=docker.service
