[Unit]
Description=DRBD resource : %I
After=network-online.target
Before=docker.service

[Service]
Type=oneshot
ExecStart=/bin/waitdevice %I
ExecStop=/sbin/drbdadm down %I
RemainAfterExit=yes

[Install]
RequiredBy=docker.service
