daemon=60                              # check every 300 seconds
syslog=yes                              # log update msgs to syslog
#mail=root                              # mail all msgs to root
mail-failure=root                       # mail failed update msgs to root
pid=/var/run/ddclient/ddclient.pid              # record PID in file.
cache=/var/run/ddclient/ddclient.cache  # cache file
ssl=yes                                 # use ssl-support.  Works with
#                                        # ssl-library
#                                        # postscript=script                     # run script after updating.  The
#                                                                                # new IP is added as argument.
#


##
#Google Domains (www.google.com/domains)
##
protocol=googledomains
login={{ ddclient_cred[ansible_host].name }}
password={{ ddclient_cred[ansible_host].password }}
use=web
{{ ansible_host }}.{{ domain }}

