*.retry
*.log
ssh_config
*_password
/build
/dist
.python-version
__pycache__
.hive
/examples/pdns/gcp_credential.json
/examples/pdns/inventory/group_vars/all.yml
develop-eggs/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
/docs/_*