[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
sphinx = "*"
sphinx-autobuild = "*"
setuptools-scm = "*"
sphinxcontrib-blockdiag = "*"
sphinx-argparse = "*"
pep440 = "*"

[packages]
ansible-core = "*"
configparser = "*"
lockfile = "*"
python-vagrant = "*"
requests = "*"
google-auth = "*"
boto = "*"
boto3 = "*"
netaddr = "*"
Pillow = ">=8.1.1"
hive-builder = {path = "."}

[requires]
python_version = "3.9"

[scripts]
deploy = "twine upload dist/*"
test-deploy = "twine upload -r pypitest dist/*"
version = "python setup.py --version"
install = "python setup.py install"
check-version = "python -m pep440"
build = "python setup.py sdist bdist_wheel"
clean = "rm -rf build dist hive_builder.egg-info hive.egg-info .eggs"
build-html = "make -C docs html"
hive = "sh -c 'cd examples/pdns; python ../../hive_builder/hive.py \"$0\" \"$@\"'"
