[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
sphinx = "*"
sphinx-autobuild = "*"
setuptools-scm = "*"
sphinxcontrib-blockdiag = "*"
sphinx-argparse = "*"

[packages]
"ansible[azure]" = "*"
configparser = "*"
lockfile = "*"
python-vagrant = "*"
requests = "*"
google-auth = "*"
boto = "*"
boto3 = "*"
netaddr = "*"
Pillow = ">=7.1.0"

[requires]
python_version = "3.7"

[scripts]
deploy = "twine upload dist/*"
test-deploy = "twine upload -r pypitest dist/*"
install = "python setup.py install"
build = "python setup.py sdist bdist_wheel"
clean = "rm -rf build dist hive_builder.egg-info hive.egg-info .eggs"
build-html = "make -C docs html"
hive = "sh -c 'cd examples/pdns; python ../../hive_builder/hive.py \"$0\" \"$@\"'"
