- name: Install Zabbix Repo
  yum:
    name: https://repo.zabbix.com/zabbix/3.0/rhel/7/x86_64/zabbix-release-3.0-1.el7.noarch.rpm
    state: present
- name: insert allow zabbix agent port rule into iptables (no internal network)
  blockinfile:
    dest: /etc/sysconfig/iptables
    insertafter: -A INPUT -m state --state RELATED,ESTABLISHED -j ACCEPT
    block: |
      -A INPUT -p tcp -s {{ item }} -m state --state NEW -m multiport --dport 10050 -j ACCEPT
    marker: "# {mark} ANSIBLE MANAGED BLOCK for zabbix agent {{ item }}"
  with_items: "{{ansible_play_batch | map('extract', hostvars, 'hive_private_ip') | list}}"
  when: hive_internal_net_addr is not defined
  notify: require reboot
- name: insert allow zabbix agent port rule into iptables for internal network
  blockinfile:
    dest: /etc/sysconfig/iptables
    insertafter: -A INPUT -m state --state RELATED,ESTABLISHED -j ACCEPT
    block: |
      -A INPUT -p tcp -s {{ hive_internal_net_addr }}/{{ hive_internal_net_cidr }} -m state --state NEW -m multiport --dport 10050 -j ACCEPT
    marker: "# {mark} ANSIBLE MANAGED BLOCK for zabbix agent for internal network"
  when: hive_internal_net_addr is defined
  notify: require reboot
- name: yum install
  yum:
    name=zabbix-agent
    state=installed
- name: modify zabbix_agentd config
  template: >
    src=zabbix_agentd.conf.j2
    dest='/etc/zabbix/zabbix_agentd.conf'
    owner=root
    group=root
    mode=0644
- name: enabled and start zabbix-agent
  service:
    name: zabbix-agent
    state: started
    enabled: yes