---
# Service Acccount Email only works with Machine Account-based authentication
hive_safe_vpc_name: "{{ hive_vpc_name | default( 'vpc-' + hive_name ) }}"
hive_safe_hosts: "{{ groups['servers'] | intersect(groups[hive_stage]) }}"
hive_safe_image_id: "{{ hostvars[aws_host].hive_vm_image_name | default('ami-02f2cac4a2cf9384a') }}"
# Version hisotry memo
# old image ami-0f310fced6141e627 used by until 2.2.4
# [ec2-user@ip-192-168-0-5 ~]$ uname -r
# 4.14.173-137.229.amzn2.x86_64

# yum update on 2020-12-13
# [ec2-user@ip-192-168-0-5 ~]$ uname -r
# 4.14.209-160.335.amzn2.x86_64

# DBRD module compiled on 2020-12-08
# kmod-drbd-9.0.24_4.14.203_156.332.amzn2.x86_64-1.x86_64.rpm

# new image ami-0f310fced6141e627 used by since 2.2.5
# (docker) [ec2-user@s-hive1 ~]$ uname -r
# 4.14.203-156.332.amzn2.x86_64

# DBRD module compiled on 2020-12-13
# kmod-drbd-9.0.24_4.14.209_160.335.amzn2.x86_64-1.x86_64.rpm

hive_safe_inbound_rules: |-
  {% if hive_ec2_group_rules is defined %}
  {{ hive_ec2_group_rules }}
  {% else %}
  {%   set outputs = [{'proto':'all', 'group_name': 'default'}] %}
  {%   for port in [hive_safe_sshd_port] + hive_published_ports_tcp %}
  {%     set _ = outputs.append({'proto':'tcp', 'to_port': port, 'from_port': port, 'cidr_ip': '0.0.0.0/0'})%}
  {%   endfor %}
  {%   for port in hive_published_ports_udp %}
  {%     set _ = outputs.append({'proto':'udp', 'to_port': port, 'from_port': port, 'cidr_ip': '0.0.0.0/0'})%}
  {%   endfor -%}
  {{ outputs }}
  {% endif %}

