---
- name: "setup rsyslogd - create dir"
  become: True
  file:
    path: "/var/log/services"
    state: directory
    mode: 0755

- name: "install rsyslog config file"
  become: True
  template:
    src: services.conf
    dest: /etc/rsyslog.d/
    mode: 0755
  notify: update rsyslog config

- name: "set logrotate for services log files"
  become: True
  lineinfile:
    dest: /etc/logrotate.d/syslog
    insertbefore: BOF
    line: "/var/log/services/*.log"

- name: create ignore directory
  become: True
  file:
    path: /etc/rsyslog-services.d/
    state: directory
    mode: 0775

- import_tasks: iptables.yml
  vars:
    hive_safe_iptables_name: syslog
    hive_safe_iptables_dports:
      - "{{ hive_safe_syslog_port }}"
    hive_safe_iptables_protocol: udp
    hive_safe_iptables_sources: "{{ (groups['servers'] | intersect(groups[hive_stage]) | map('extract', hostvars, 'hive_private_ip') | list) +
      [hive_internal_cidr | ipaddr((hive_internal_cidr | ipaddr('size')) / 8 * 4) | ipaddr('address') + '/' +
      (((hive_internal_cidr | ipaddr('prefix')) + 3) | string) if hive_internal_cidr is defined else '172.20.0.0/16'] }}"
