[Unit]
Description=A Perl Client Used To Update Dynamic DNS
After=syslog.target network-online.target nss-lookup.target

[Service]
User=ddclient
Group=ddclient
Type=forking
PIDFile=/var/run/ddclient/ddclient.pid
EnvironmentFile=-/etc/sysconfig/ddclient
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/run/ddclient
ExecStartPre=-/bin/chown ddclient:ddclient /var/run/ddclient
ExecStartPre=-/bin/chmod 700 /run/run/ddclient
ExecStart=/usr/sbin/ddclient $DDCLIENT_OPTIONS

[Install]
WantedBy=multi-user.target
