UserParameter=user.discovery.docker-service,sudo -u {{ hive_safe_admin }} sh -c "{{ hive_home_dir }}/docker/bin/python {{ hive_home_dir }}/docker-service.py --discover {{ groups['hives'] | intersect(groups[hive_stage]) | join(' ') }}"
UserParameter=docker-service-uptime[*],sudo -u {{ hive_safe_admin }} sh -c "{{ hive_home_dir }}/docker/bin/python {{ hive_home_dir }}/docker-service.py --uptime $1 {{ groups['hives'] | intersect(groups[hive_stage]) | join(' ') }}"
UserParameter=docker-service-replicas[*],sudo -u {{ hive_safe_admin }} sh -c "{{ hive_home_dir }}/docker/bin/python {{ hive_home_dir }}/docker-service.py --replicas $1 {{ groups['hives'] | intersect(groups[hive_stage]) | join(' ') }}"
UserParameter=user.discovery.docker-innerservice,sudo -u {{ hive_safe_admin }} sh -c "{{ hive_home_dir }}/docker/bin/python {{ hive_home_dir }}/docker-service.py --discover-innerservice {{ groups['hives'] | intersect(groups[hive_stage]) | join(' ') }}"
UserParameter=docker-innerservice-uptime[*],sudo -u {{ hive_safe_admin }} sh -c "{{ hive_home_dir }}/docker/bin/python {{ hive_home_dir }}/docker-service.py --uptime $1 --inner $2 {{ groups['hives'] | intersect(groups[hive_stage]) | join(' ') }}"
UserParameter=docker-innerservice-replicas[*],sudo -u {{ hive_safe_admin }} sh -c "{{ hive_home_dir }}/docker/bin/python {{ hive_home_dir }}/docker-service.py --replicas $1 --inner $2 {{ groups['hives'] | intersect(groups[hive_stage]) | join(' ') }}"
