[Unit]
Description=Timer for Cache Builder for Zabbix Agent
RefuseManualStart=no
RefuseManualStop=yes

[Timer]
OnBootSec=5min
OnUnitActiveSec=1h
Persistent=true

[Install]
WantedBy=default.target
