---
- name: install python
  raw: if [ -x /usr/bin/apt-get ]; then (apt-get update && apt-get -y install python3); else (apk update && apk add python3); fi
  changed_when: False
- name: set interperter to python3
  set_fact:
    ansible_python_interpreter: /usr/bin/python3

