---
- name: install ius and epel yum repo
#  ius requrire epel-release
  yum: name=https://centos7.iuscommunity.org/ius-release.rpm state=present
  when: hive_safe_use_ius
- name: install python package
  yum:
    state: present
    name:
      - python{{ hive_safe_python_revision }}
      - python{{ hive_safe_python_revision }}-libs
      - python{{ hive_safe_python_revision }}-devel
      - python{{ hive_safe_python_revision }}-pip
      - python{{ hive_safe_python_revision }}-setuptools
      - "{{ 'python-virtualenv' if hive_provider == 'aws' else 'virtualenv' }}"
- name: upgrade pip
  become: False
  pip:
    name:
      - pip
    virtualenv: "{{ hive_home_dir }}/docker"
    virtualenv_python: "{{ hive_safe_python_command }}"
    # hive-builder does not require libselinux module,
    # but inherit system site-pacakges for addon which requires libselinux module
    virtualenv_site_packages: True
    extra_args: "{{ '-i ' + hive_pip_index_url if hive_pip_index_url is defined else omit }}"
    state: latest
  args:
    chdir: "{{ hive_home_dir }}"
- name: set PyPi index url
  become: False
  copy:
    content: |
      [global]
      index-url = {{ hive_pip_index_url }}
    dest: "{{ hive_home_dir }}/docker/pip.conf"
  when: hive_pip_index_url is defined
- name: install python-dxf
  become: False
  pip:
    name:
      - python-dxf
    virtualenv: "{{ hive_home_dir }}/docker"
  args:
    chdir: "{{ hive_home_dir }}"
- name: setup auto enter virtualenv at login
  become: False
  lineinfile:
    path: "{{ hive_home_dir }}/.bashrc"
    line: ". {{ hive_home_dir }}/docker/bin/activate"
