---
- name: build container images
  gather_facts: False
  hosts: repository
  vars:
    ansible_python_interpreter: "{{ hive_home_dir }}/docker/bin/python"

  tasks:
  - name: login to private registry
    docker_login:
      registry: "{{ hive_registry }}"
      username: "{{ hive_safe_docker_login_user }}"
      password: "{{ lookup('password', hive_context_dir + '/registry_password length=15') }}"
      email: "{{ hive_safe_email }}"

- name: build images
  hosts: images
  gather_facts: False
  serial: 3
  connection: docker
  vars:
    hive_safe_repository_server: "{{ groups['repository'] | intersect(groups[hive_stage]) | first }}"
    hive_safe_images_dir: "{{ hostvars[hive_safe_repository_server].hive_home_dir }}/images"
    hive_safe_sleep_command: /bin/sh -c 'trap "kill %1" int;sleep 2400 &wait'
    ansible_docker_extra_args: "-H unix://{{ hive_temp_dir }}/docker.sock@{{ groups['repository'] | intersect(groups[hive_stage]) | first }}"
    hive_safe_image_tag: "{{hostvars[hive_safe_repository_server].hive_registry}}/{{ inventory_hostname }}:{{ lookup('pipe', 'date +\"%Y%m%d%H%M%S\"') }}"
    hive_safe_image_tag_latest: "{{hostvars[hive_safe_repository_server].hive_registry}}/{{ inventory_hostname }}:latest"

  tasks:
  - set_fact:
      ansible_connection: smart
      ansible_python_interpreter: "{{ hostvars[hive_safe_repository_server].hive_home_dir }}/docker/bin/python"
    delegate_to: "{{ hive_safe_repository_server }}"
    delegate_facts: True
  - name: create container
    delegate_to: "{{ hive_safe_repository_server }}"
    docker_container:
      image: "{{ hive_from }}"
      exposed_ports: "{{ hive_expose | default(omit) }}"
      name: "build_{{ inventory_hostname }}"
      hostname: "{{ inventory_hostname }}"
      env: "{%if hive_proxy_env_block is defined %}{{(hive_env | default({}))|combine({'HTTP_PROXY':lookup('env', 'HTTP_PROXY'),'http_proxy':lookup('env', 'HTTP_PROXY'),'HTTPS_PROXY':lookup('env', 'HTTPS_PROXY'),'https_proxy':lookup('env', 'HTTPS_PROXY'),'NO_PROXY':lookup('env', 'NO_PROXY'),'no_proxy':lookup('env', 'NO_PROXY')})}}{% else %}{{ hive_env | default(omit) }}{% endif %}"
      privileged: "{{ hive_privileged | default(omit) }}"
      entrypoint: "{%if hive_standalone | default(False) %}{{omit}}{%else%}[]{%endif%}"
      working_dir: "{{ hive_working_dir | default(omit) }}"
      command: "{%if hive_standalone | default(False) %}{{omit}}{%else%}{{ hive_safe_sleep_command }}{%endif%}"
      stop_signal: "{{ hive_stop_signal | default(omit) }}"
      user: "{{ hive_user | default(omit) }}"
      state: present
  - name: start container
    delegate_to: "{{ hive_safe_repository_server }}"
    docker_container:
      image: "{{ hive_from }}"
      exposed_ports: "{{ hive_expose | default(omit) }}"
      name: "build_{{ inventory_hostname }}"
      hostname: "{{ inventory_hostname }}"
      env: "{%if hive_proxy_env_block is defined %}{{(hive_env | default({}))|combine({'HTTP_PROXY':lookup('env', 'HTTP_PROXY'),'http_proxy':lookup('env', 'HTTP_PROXY'),'HTTPS_PROXY':lookup('env', 'HTTPS_PROXY'),'https_proxy':lookup('env', 'HTTPS_PROXY'),'NO_PROXY':lookup('env', 'NO_PROXY'),'no_proxy':lookup('env', 'NO_PROXY')})}}{% else %}{{ hive_env | default(omit) }}{% endif %}"
      privileged: "{{ hive_privileged | default(omit) }}"
      entrypoint: "{%if hive_standalone | default(False) %}{{omit}}{%else%}[]{%endif%}"
      working_dir: "{{ hive_working_dir | default(omit) }}"
      command: "{%if hive_standalone | default(False) %}{{omit}}{%else%}{{ hive_safe_sleep_command }}{%endif%}"
      stop_signal: "{{ hive_stop_signal | default(omit) }}"
      user: "{{ hive_user | default(omit) }}"
    changed_when: False
  - name: apply role
    include_role:
      name: "{{ hive_safe_role }}"
    vars:
      ansible_host: "build_{{ inventory_hostname }}"
    loop: "{{ hive_roles }}"
    # assin loop_var to prevent following messages printed when role use loop.
    # [WARNING]: The loop variable 'item' is already in use. You should set the
    # `loop_var` value in the `loop_control` option for the task to something else to
    # avoid variable collisions and unexpected behavior.
    loop_control:
      loop_var: hive_safe_role

  - name: push images
    include_tasks: push-image.yml
