---
- name: create ingress networks
  gather_facts: False
  hosts: first_hive
  vars:
    ansible_python_interpreter: "{{ hive_home_dir }}/docker/bin/python"

  tasks:
  - debug: var=hive_safe_ipam_config
  - name: create network
    docker_network:
      name: "{{ item }}"
      driver: "overlay"
      dirver_options: "{{ hostvars[item].hive_driver_opts | default(omit) }}"
      ipam_driver: "{{ hostvars[item].hive_ipam.driver | default(omit) }}"
      ipam_config: >-
        {%- if hostvars[item].hive_ipam.config is defined -%}
          {{ hostvars[item].hive_ipam.config }}
        {%- elif item == 'hive_default_network' and hive_internal_cidr is defined -%}
          {{ [{'subnet': hive_internal_cidr | ipaddr('network') + '/' + ((hive_internal_cidr | ipaddr('prefix') + 2) | string) }] }}
        {%- else -%}
          {{ omit }}
        {%- endif -%}
      ipam_driver_options: "{{ hostvars[item].hive_ipam.options | default(omit) }}"
    loop: "{{ groups['networks'] }}"
    register: create_network_result
    until: not create_network_result.failed
    retries: 5

