---
- name: setup hive servers
  hosts: servers
  become: True
  tags: setup-hosts

  roles:
    - role: base
      tags: ["base"]
    - role: hostsfile
      tags: ["hostsfile"]
    - role: ntp-client
      tags: ["ntp-client"]
      when: hive_ntp_servers is defined and hive_ntp_servers != omit
    - role: iptables
      tags: ["iptables"]
    - role: pip-venv
      tags: ["pip-venv"]
    - role: addon
      tags: ["addon"]
    - role: internal-network
      tags: ["internal-network"]
      when: hive_internal_net_if is defined
    - role: users
      tags: ["users"]
      when: hive_users is defined
    - role: strict-source-ip
      tags: ["strict-source-ip"]
      when: hive_ssh_source_ips is defined
    - role: tls-certificate
      tags: ["tls-certificate"]
    - role: docker
      tags: ["docker"]
    - role: drbd
      tags: ["drbd"]
      when: hive_mirrored_disk_size is defined
    - role: docker-client
      tags: ["docker-client"]
    - role: follow-swarm-service
      tags: ["follow-swarm-service"]
    - role: docker-client-proxy
      tags: ["docker-client-proxy"]
      when: ansible_env.HTTP_PROXY is defined
    - role: zabbix-agent
      tags: ["zabbix-agent"]
    - role: reboot
      tags: ["reboot"]

- name: setup repository and zabbix
  hosts: repository
  gather_facts: False
  tags: registry

  roles:
    - role: docker-compose
      tags: ["docker-compose"]
    - role: zabbix
      tags: ["zabbix"]
    - role: registry
      tags: ["registry"]
    - role: backup-tools
      tags: ["backup-tools"]
    - role: rsyslogd
      tags: ["rsyslogd"]

- name: build cluster
  hosts: hives
  gather_facts: False
  become: True
  tags: build-cluster

  roles:
    - role: swarm
      tags: ["swarm"]
    - role: reboot
      tags: ["reboot"]
