---
hive_safe_email: "{{ hive_email | default('hive@example.com') }}"
hive_safe_docker_login_user: "{{ hive_docker_login_user | default('hive') }}"
hive_registry: "{{ hive_registry_fqdn }}:{{ hive_registry_port | default(5000) }}"
hive_safe_private_key_path:  "{{ hive_private_key_path | default(hive_context_dir + '/id_rsa') }}"
hive_safe_public_key_path:  "{{ hive_public_key_path | default(hive_safe_private_key_path + '.pub') }}"
hive_published_ports_tcp: "{{ groups['services'] | map('extract', hostvars, 'hive_ports') | select('defined') | flatten | selectattr('protocol', 'eq', 'tcp') | selectattr('published_port', 'defined') | selectattr('published_port', 'lt', 10000) | map(attribute='published_port') | map('string') | list }}"
hive_published_ports_udp: "{{ groups['services'] | map('extract', hostvars, 'hive_ports') | select('defined') | flatten | selectattr('protocol', 'eq', 'udp') | selectattr('published_port', 'defined') | selectattr('published_port', 'lt', 10000) | map(attribute='published_port') | map('string') |  list }}"
# 2019/12/30  username "admin" cause error for azure:
#    Error creating or updating virtual machine hive0 - Azure Error: InvalidParameter
#    Message: The Admin Username specified is not allowed.
#    Target: adminUsername
hive_safe_admin: "{{ hive_admin | default({'vagrant':'vagrant','aws':'ec2-user', 'azure': 'hiveadmin'}[hive_provider] | default('admin')) }}"
hive_home_dir: "/home/{{ hive_safe_admin }}"
hive_registry_fqdn: "{{ groups['repository'] | intersect(groups[hive_stage]) | first }}"
hive_safe_sshd_port: "{{ hive_sshd_port | default(22) }}"
hive_safe_selinux: "{{ hive_selinux | default('permissive') }}"
hive_safe_syslog_port: "{{ hive_syslog_port | default(10514) }}"
hive_safe_python_revision: "{{ hive_python_revision | default(
   '3' if hive_safe_need_libselinux or ansible_distribution in ['AlmaLinux', 'RedHat'] else
   '3.9' )}}"
hive_safe_need_libselinux: "{{ hive_need_libselinux | default(False) }}"
hive_safe_python_command: "/usr/bin/python{{hive_safe_python_revision}}"